@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>KJPFit</h1>
    <p class="lead">My app will make it easy for you to create your own personal workouts, learn healthy lifestyle information, and get you feeling great! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Healthy Habits</h2>
        <p>
            We know that making healthy choices can help us feel better and live longer. Maybe you’ve already tried to eat better, get more exercise or sleep, quit smoking, or reduce stress. 
            It’s not easy. But research shows how you can boost your ability to create and sustain a healthy lifestyle. Checkout this short and simple list to lead a healthy life.
        </p>
        <p><a class="btn btn-default" href="https://www.pulpandpress.com/us/10-healthy-habits-to-include-in-your-daily-routine/">Check it Out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nutrition Basics</h2>
        <p>A healthy diet may help to prevent certain long-term diseases such as heart disease, stroke and diabetes. It may also help to 
           reduce your risk of developing some cancers and help you to keep a healthy weight. Click the link below and take a gander at this article that gives you the basics of healthy eating!</p>
        <p><a class="btn btn-default" href="https://www.heartandstroke.ca/healthy-living/healthy-eating/healthy-eating-basics"> Learn More! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Supplements Are Good Too</h2>
        <p>In a perfect world, our daily diet would provide all the nutrients we need. However, because most Americans don’t follow an ideal diet plan, supplements can help you get needed nutrients. 
           This is particularly important if you have certain food allergies or follow a vegan diet. Be sure to check out this article on some key essential supplements you should be aware of!</p>
        <p><a class="btn btn-default" href="https://www.huffingtonpost.com.au/2017/01/09/these-are-the-supplements-health-experts-actually-use_a_21651291/"> Sups Here! &raquo;</a></p>
    </div>
</div>